/*導覽列設定*/
/* Size for brand */

nav .navbar-brand

{

  font-size: xx-large;

}



/* Colors for brand */

nav .navbar-brand .blue

{

  color: #537fbe;

}

nav .navbar-brand .red

{

  color: #ea433b;

}

nav .navbar-brand .yellow

{

  color: #f5b82e;

}

nav .navbar-brand .green

{

  color: #2e944b;

}

nav .navbar-brand .Purple

{

  color: #66009D;

}

.highlight{

  background-color:#2d0f57;

  color: white;

}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
